In [1]:
import pandas as pd
import numpy as np
import openpyxl
from sklearn import ensemble
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
import joblib
%matplotlib inline

# Reading Combined Dataset

In [2]:
df = pd.read_excel('combined.xlsx', index_col=0)

In [3]:
df_one_hot_encoded = df.copy()

In [4]:
df_one_hot_encoded

,Dwelling Type,Year,Month,Region,Towns,Avg kWh,Daily Rainfall Total (mm),Highest 30 min Rainfall (mm),Highest 60 min Rainfall (mm),Highest 120 min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
0,1-room / 2-room,2005,1,Central Region,Bishan,104.9,2.9,3.6,4.4,5.0,27.5,31.3,25.1,7.2,35.3
1,1-room / 2-room,2005,1,Central Region,Bukit Merah,140.7,2.9,3.6,4.4,5.0,27.5,31.3,25.1,7.2,35.3
2,1-room / 2-room,2005,1,Central Region,Central Region,136.5,2.9,3.6,4.4,5.0,27.5,31.3,25.1,7.2,35.3
3,1-room / 2-room,2005,1,Central Region,Geylang,148.5,2.9,3.6,4.4,5.0,27.5,31.3,25.1,7.2,35.3
4,1-room / 2-room,2005,1,Central Region,Kallang,115.6,2.9,3.6,4.4,5.0,27.5,31.3,25.1,7.2,35.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60563,Public Housing,2021,6,West Region,Choa Chu Kang,470.8,9.8,6.1,7.8,9.4,28.1,32.7,24.5,8.6,31.9
60564,Public Housing,2021,6,West Region,Clementi,360.1,7.5,4.4,5.4,6.7,28.2,32.1,25.2,4.9,26.5
60565,Public Housing,2021,6,West Region,Jurong East,434.2,8.5,5.3,6.5,7.9,28.2,32.4,24.9,6.7,29.2
60566,Public Housing,2021,6,West Region,Jurong West,435.8,8.5,5.3,6.5,7.9,28.2,32.4,24.9,6.7,29.2
60567,Public Housing,2021,6,West Region,West Region,426.5,8.5,5.3,6.5,7.9,28.2,32.4,24.9,6.7,29.2

In [5]:
del df_one_hot_encoded['Avg kWh']
del df_one_hot_encoded['Highest 30 min Rainfall (mm)']
del df_one_hot_encoded['Highest 60 min Rainfall (mm)']

In [6]:
df_one_hot_encoded.head(3)

,Dwelling Type,Year,Month,Region,Towns,Daily Rainfall Total (mm),Highest 120 min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
0,1-room / 2-room,2005,1,Central Region,Bishan,2.9,5.0,27.5,31.3,25.1,7.2,35.3
1,1-room / 2-room,2005,1,Central Region,Bukit Merah,2.9,5.0,27.5,31.3,25.1,7.2,35.3
2,1-room / 2-room,2005,1,Central Region,Central Region,2.9,5.0,27.5,31.3,25.1,7.2,35.3

In [7]:
#Add in Dwellng Type, Year, Month, Region, Towns, Daily Rain Fall, Highest 120min rainfall, Mean temp, max temp, min temp
# mean wind speed, max wind speed
df_one_hot_encoded.loc[len(df_one_hot_encoded.index)] = ['1-room / 2-room', 2022, 1, 'Central Region','Bishan',2.9,5.0,27.5,31.3,25.1,7.2,35.3]

In [8]:
features_df = pd.get_dummies(df_one_hot_encoded, columns=['Dwelling Type', 'Towns', 'Region', 'Month'])
features_df

,Year,Daily Rainfall Total (mm),Highest 120 min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),Dwelling Type_1-room / 2-room,Dwelling Type_3-room,...,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12
0,2005,2.9,5.0,27.5,31.3,25.1,7.2,35.3,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2005,2.9,5.0,27.5,31.3,25.1,7.2,35.3,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2005,2.9,5.0,27.5,31.3,25.1,7.2,35.3,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2005,2.9,5.0,27.5,31.3,25.1,7.2,35.3,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2005,2.9,5.0,27.5,31.3,25.1,7.2,35.3,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60564,2021,7.5,6.7,28.2,32.1,25.2,4.9,26.5,0,0,...,0,0,0,1,0,0,0,0,0,0
60565,2021,8.5,7.9,28.2,32.4,24.9,6.7,29.2,0,0,...,0,0,0,1,0,0,0,0,0,0
60566,2021,8.5,7.9,28.2,32.4,24.9,6.7,29.2,0,0,...,0,0,0,1,0,0,0,0,0,0
60567,2021,8.5,7.9,28.2,32.4,24.9,6.7,29.2,0,0,...,0,0,0,1,0,0,0,0,0,0
60568,2022,2.9,5.0,27.5,31.3,25.1,7.2,35.3,1,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
features_df.columns.tolist()

['Year',
 'Daily Rainfall Total (mm)',
 'Highest 120 min Rainfall (mm)',
 'Mean Temperature (°C)',
 'Maximum Temperature (°C)',
 'Minimum Temperature (°C)',
 'Mean Wind Speed (km/h)',
 'Max Wind Speed (km/h)',
 'Dwelling Type_1-room / 2-room',
 'Dwelling Type_3-room',
 'Dwelling Type_4-room',
 'Dwelling Type_5-room and Executive',
 'Dwelling Type_Landed Properties',
 'Dwelling Type_Private Apartments and Condominiums',
 'Dwelling Type_Private Housing',
 'Dwelling Type_Public Housing',
 'Towns_Ang Mo Kio',
 'Towns_Bedok',
 'Towns_Bishan',
 'Towns_Bukit Batok',
 'Towns_Bukit Merah',
 'Towns_Bukit Panjang',
 'Towns_Bukit Timah',
 'Towns_Central Region',
 'Towns_Changi',
 'Towns_Choa Chu Kang',
 'Towns_Clementi',
 'Towns_Downtown',
 'Towns_East Region',
 'Towns_Geylang',
 'Towns_Hougang',
 'Towns_Jurong East',
 'Towns_Jurong West',
 'Towns_Kallang',
 'Towns_Mandai',
 'Towns_Marine Parade',
 'Towns_Museum',
 'Towns_Newton',
 'Towns_North East Region',
 'Towns_North Region',
 'Towns_Novena',
 'Towns_Orchard',
 'Towns_Outram',
 'Towns_Pasir Ris',
 'Towns_Paya Lebar',
 'Towns_Pioneer',
 'Towns_Punggol',
 'Towns_Queenstown',
 'Towns_River Valley',
 'Towns_Rochor',
 'Towns_Seletar',
 'Towns_Sembawang',
 'Towns_Sengkang',
 'Towns_Serangoon',
 'Towns_Singapore River',
 'Towns_Southern Islands',
 'Towns_Sungei Kadut',
 'Towns_Tampines',
 'Towns_Tanglin',
 'Towns_Toa Payoh',
 'Towns_West Region',
 'Towns_Woodlands',
 'Towns_Yishun',
 'Region_Central Region',
 'Region_East Region',
 'Region_North East Region',
 'Region_North Region',
 'Region_West Region',
 'Month_1',
 'Month_2',
 'Month_3',
 'Month_4',
 'Month_5',
 'Month_6',
 'Month_7',
 'Month_8',
 'Month_9',
 'Month_10',
 'Month_11',
 'Month_12']

In [9]:
# apply normalization techniques
for column in features_df.columns:
    features_df[column] = (features_df[column] - features_df[column].min()) / (features_df[column].max() - features_df[column].min())

In [10]:
features_df.tail(1)

,Year,Daily Rainfall Total (mm),Highest 120 min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),Dwelling Type_1-room / 2-room,Dwelling Type_3-room,...,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12
60568,1.0,0.044892,0.206612,0.519231,0.416667,0.574468,0.238095,0.452273,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
unseen = features_df.values[-1].tolist()

In [14]:
print(len(unseen))

80

In [12]:
unseen

[1.0,
 0.04489164086687307,
 0.2066115702479339,
 0.5192307692307692,
 0.4166666666666669,
 0.5744680851063833,
 0.23809523809523808,
 0.4522727272727272,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [13]:
loaded_model = joblib.load('votingModel2.pkl')

FileNotFoundError: [Errno 2] No such file or directory: 'votingModel2.pkl'

In [ ]:
electricity_predict_array = [unseen]

In [ ]:
predicted_electricity_values = loaded_model.predict(electricity_predict_array)
predicted_value = predicted_electricity_values[0]

In [ ]:
predicted_value

In [ ]:
predicted_value